<%
   content_for :styles do
     stylesheet_link_tag 'tool/weizhang'
   end
%>
<div class="tbanner">
  <%= image_tag 'banner/5.jpg' %>
  <a class="tip">
    <span>
      <%= @car %> - <%= @licence %>
    </span>
  </a>
</div>
<div class="main_body">

  <div class="ui divided list">
    <div class="item">
      <a href="http://mp.weixin.qq.com/s?__biz=MjM5ODI3ODI4MA==&mid=274183248&idx=1&sn=f7fae8e534900f1526491041ffc8dc2f&scene=1&from=singlemessage&isappinstalled=0#rd">
      <div class="right floated tiny teal ui button">阅读</div>
      <div class="content">
        <div class="header" style="color: #D58426;">【针对性解决】发动机的8大磨损</div>
      </div>
      </a>
    </div>

    <div class="item">
      <a href="http://mp.weixin.qq.com/s?__biz=MjM5ODI3ODI4MA==&mid=273395249&idx=2&sn=bf6cd9edfb8ceb32640601fd31ba2ebe&scene=1&from=singlemessage&isappinstalled=0#rd">
        <div class="right floated tiny teal ui button">阅读</div>
        <div class="content">
          <div class="header" style="color: #D58426;">【车主必读】“私家车6年免检”五大误区</div>
        </div>
      </a>
    </div>

    <div class="item">
      <a href="http://mp.weixin.qq.com/s?__biz=MjM5ODI3ODI4MA==&mid=272057946&idx=1&sn=29aa5763bceb83084ae334589c8de1ec&scene=1&from=singlemessage&isappinstalled=0#rd">
        <div class="right floated tiny teal ui button">阅读</div>
        <div class="content">
          <div class="header" style="color: #D58426;">有效延长汽车寿命的保养技巧</div>
        </div>
      </a>
    </div>
  </div>

  <a class="ui submit button attached" href="/tool/care_edit">修改您的爱车信息</a>


  <div class="ui segment">
    <div class="ui icon warning message">
      <i class="settings icon"></i>
      <div class="content">
        <div class="header">
          <%= @baoyang_day %>天
        </div>
        <p>下次保养</p>
      </div>
    </div>

    <div class="ui icon message">
      <i class="shield icon"></i>
      <div class="content">
        <div class="header">
          <%= @baoxian_day %>天
        </div>
        <p>下次保险</p>
      </div>
    </div>

    <div class="ui icon info message">
      <i class="stethoscope icon"></i>
      <div class="content">
        <div class="header">
          <%= @nianjian_day %>天
        </div>
        <p>下次年检</p>
      </div>
    </div>


  </div>

  <a class="ui blue submit button attached" href="/contact/show" style="margin-top: 20px">联系销售</a>

  <a class="ui orange submit button attached" href="/order/care" style="margin-top: 20px">保养预约</a>


</div>