<%
   content_for :styles do
     stylesheet_link_tag 'contect'
   end
%>

<div class="tbanner">
  <%= image_tag 'banner/9.jpg' %>
  <a class="tip">
    <span>
      联系销售
    </span>
  </a>
</div>


<div class="main_body">
  <div class="ui">
    <% @contacts.each do |contact| %>
    <div class="ui segment selection list" style="margin-bottom: 10px">
      <div class="ui red ribbon label">
        <%= contact.zhiwei %>
      </div>

      <div class="ui star rating right floated" style="float: right">
        <%= raw render_stars contact.star %>
      </div>

      <a href="tel:<%= contact.phone %>">
        <div class="item">
          <img src="<%= contact.avatar.present? ? contact.avatar : image_path('car_sell.png') %>" style="width: 20%;margin-top: 10px;">
          <div class="ui grid">
            <div class="ui eleven wide column">

              <h3 class="ui header" style="margin-bottom: 5px;font-size: 18px;">
                <%= contact.name %> <span style="font-size: 16px;"><%= contact.phone %></span>
              </h3>
              <%= contact.info %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>
