<!DOCTYPE html>
<html lang="zh-cn">
<head>

  <!-- start: Meta -->
  <meta charset="utf-8" />
  <title>天泓雪莱微信后台</title>
  <!-- end: Meta -->

  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- end: Mobile Specific -->

  <!-- start: CSS -->
  <%= stylesheet_link_tag 'admin/application' %>
  <!-- end: CSS -->

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <%= stylesheet_link_tag 'ie' %>
  <![endif]-->

  <!--[if IE 9]>
    <%= stylesheet_link_tag 'ie9' %>
  <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<!-- start: Header -->
<div class="navbar">
<div class="navbar-inner">
<div class="container-fluid">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="index.html"><span>天泓雪莱微信后台</span></a>

<!-- start: Header Menu -->
<div class="nav-no-collapse header-nav">
<ul class="nav pull-right">
<li class="dropdown hidden-phone">
  <a class="btn" href="/admin/sign_out">
    退出登录
  </a>
</li>
</ul>
</div>
<!-- end: Header Menu -->

</div>
</div>
</div>
<!-- start: Header -->

<div class="container-fluid">
<div class="row-fluid">


<!-- start: Main Menu -->
<div id="sidebar-left" class="span1">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="/admin"><i class="fa-icon-bar-chart"></i><span class="hidden-tablet"> 预约保养</span></a></li>
      <li><a href="/admin/order_drive"><i class="fa-icon-hdd"></i><span class="hidden-tablet"> 预约试驾</span></a></li>
      <li><a href="/admin/user_car"><i class="fa-icon-envelope"></i><span class="hidden-tablet"> 车主关怀</span></a></li>
      <li><a href="/admin/evaluate"><i class="fa-icon-tasks"></i><span class="hidden-tablet"> 满意度评价</span></a></li>
      <li><a href="/admin/contacts"><i class="fa-icon-eye-open"></i><span class="hidden-tablet"> 联系方式</span></a></li>
      <li><a href="widgets.html"><i class="fa-icon-dashboard"></i><span class="hidden-tablet"> 最新资讯</span></a></li>
      <li><a href="form.html"><i class="fa-icon-edit"></i><span class="hidden-tablet"> 优惠活动</span></a></li>
      <li><a href="typography.html"><i class="fa-icon-font"></i><span class="hidden-tablet"> 车展团购</span></a></li>
      <li><a href="gallery.html"><i class="fa-icon-picture"></i><span class="hidden-tablet"> 滚动图</span></a></li>
    </ul>
  </div>
</div>
<a id="main-menu-toggle" class="hidden-phone open"><i class="fa-icon-reorder"></i></a>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span11">

  <%= yield %>


</div>
<!-- end: Content -->

</div><!--/fluid-row-->


<div class="clearfix"></div>

<footer>
  <p>
    <span style="text-align:left;float:left">&copy; 2014 <a>江苏天泓雪莱</a></span>
    <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a>Raymond</a> 技术咨询QQ 77916039</span>
  </p>
</footer>

</div><!--/.fluid-container-->

<!-- start: JavaScript-->
<%= javascript_include_tag 'admin/application' %>

<%p flash %>
<% if flash.present? %>
  <script>
    <% flash.each do |name, msg| %>
    <% next if msg.to_s == 'true' %>
    noty({"text":"<%= msg %>","layout":"bottomRight","type":"<%= if name.to_s == 'notice'; 'success' else 'error' end %>"});
    <% end %>
  </script>
<% end %>
<!-- end: JavaScript-->

</body>
</html>